.login {
    height: 83vh;
    width: 100vw;

    background-color: white;
}


.upRowLogin {
    height: 15vh;

}

.middleRowLogin {
    height: 25vh;
    display:flex;

    flex-direction: column;

    align-items: center;
    justify-content: space-around;

}

.downRowLogin {
    height: 30vh;

    display:flex;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageBox {
    display:flex;
    justify-content: center;
    font-family: Cambria ;
    font-size: large;
}

.buttonBody {
    width: 6vw;
    margin: 1em;

    color: white;
    background-color: rgb(198, 124, 71);
    font-weight: bold;

    font-family: Cambria ;

    transition: 0.2s;
    cursor: pointer;

    display:flex;
    justify-content: center;
}

.buttonBody:hover {

    transition: 0.2s;
    color: rgb(92, 89, 89);
    background-color:  rgb(198, 124, 71);
    
}