.register {
    height: 83vh;
    width: 100vw;

    /* background-color: white; */
    background-image:url(https://i.ibb.co/wBRSpSF/fondo2.jpg);
    color: white;
}

.upRow {
    height: 60vh;

    flex: grid;
}

.downRowRegister {
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.inputRow { 
    height: 15vh;
    align-items: center;
    justify-content: center;

}

.buttonBody {
    width: 6vw;
    margin: 1em;

    color: white;
    background-color: rgb(198, 124, 71);
    font-weight: bold;

    font-family: Cambria ;

    transition: 0.2s;
    cursor: pointer;
    border-radius: 0.3em;

    display:flex;
    justify-content: center;
}

.buttonBody:hover {

    transition: 0.2s;
    /* background-color: goldenrod; */
    color:black;
    
}

.space {
    height: 15vh;
    width: 100vw;
}

.scripting {
    font-family: Cambria ;
    font-size: large;
    display:flex;
    justify-content: center;
}