.profile {
    height: 83vh;
    width: 100vw;

    /* background-color: white; */
    background-image:url(https://i.ibb.co/wBRSpSF/fondo2.jpg);
    color: white;
    
    justify-content: center;
    align-items: center;
}

.spaceUp {
    height: 10vh;
}

.upRowRegister {
    height: 50vh;
}

.downRowRegister {
    height: 10vh;

    display:flex;
    justify-content: center;
    align-items: baseline;
}

.title {
    font-family: Cambria ;
    justify-content: center;
    align-items: center;
    font-size: large;
}

