.profile {
    height: 83vh;
    width: 100vw;

    /* background-color: white; */
    background-image:url(https://i.ibb.co/wBRSpSF/fondo2.jpg);
    color: white;
    
    justify-content: center;
    align-items: center;
}

.spaceUp {
    height: 10vh;
}

.upRowRegister {
    height: 50vh;
}

.downRowRegister {
    height: 5vh;

    display:flex;
    justify-content: center;
    align-items: center;
}

.downRowPayment {
    height: 5vh;

    display:flex;
    justify-content: center;
    align-items: baseline;
}

.title {
    font-family: Cambria ;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.buttonBody {
    width: 13vw;
    margin: 1em;

    color: white;
    background-color: rgb(198, 124, 71);
    font-weight: bold;

    font-family: Cambria ;

    transition: 0.2s;
    cursor: pointer;
    border-radius: 0.3em;

    display:flex;
    justify-content: center;
}

.buttonBody:hover {

    transition: 0.2s;
    /* background-color: goldenrod; */
    color:black;
    
}
