.home {
    height: 83vh;
    width: 100vw;

    display:flex;
    align-items: center;
    justify-content: center;

    background-image:url(https://i.ibb.co/wBRSpSF/fondo2.jpg);
}

.carouselImg {
    height: 70vh;
    width: 70vw;
    border: solid goldenrod;
    border-radius:  1em;
    
}

