
.cardDesignTattoo {
    
    margin: 2em;
    padding: 0em;

    height: 57vh;
    width: 26vw;

    /* opacity: 0; */
    /* background-color:goldenrod; */
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;

    border-radius: 5% 5% 5% 5%;
    border: 0.1em solid black;

    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
    font-family: Cambria ;

}

.cardDesignTattoo:hover {

    transition: 0.2s;
    background-color:goldenrod;
    border: 0.1em solid black;
}

.pictureTattoo {
    height: 50vh;
    width: 25vw;
    /* opacity: 10; */
    background-color: white;
    border: 0.1em solid goldenrod;


}

.modalPicture {
    height: 77vh;
    width: 55vw;

    background-color: white;
    border: 0.1em solid black;
}

.modal-design {
    height:100vh;
    width: 80vw;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria ;
}

.modal-design-header {
    height: 10vh;
    width: 56.5vw;
    background-color: black;
}

.modal-design-body {
    height: 80vh;
    width: 56.5vw;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    height: 1vh;
    width: 3vw;
    /* background-color: blue; */
}