
.cardDesign {
    
    margin: 0;
    padding: 10em;

    height: 35vh;
    width: 13vw;

    /* background-color:goldenrod; */
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;

    border-radius: 5% 5% 5% 5%;
    border: 0.1em solid black;

    font-weight: bold;

    transition: 0.2s;
    cursor: pointer;
}

.cardDesign:hover {

    transition: 0.2s;
    /* background-color: black; */
    background-color:goldenrod;
    border: 0.1em solid black;
}

.picture {
    height: 10em;
    width: 10em;

    background-color: white;
    border: 0.1em solid black;
}

.modalPicture {
    height: 77vh;
    width: 55vw;

    background-color: white;
    border: 0.1em solid black;
}

.modal-design {
    height:100vh;
    width: 80vw;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal-design-header {
    height: 10vh;
    width: 56.5vw;
    background-color: black;
}

.modal-design-body {
    height: 80vh;
    width: 56.5vw;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.spacer {
    height: 1vh;
    width: 3vw;
    /* background-color: blue; */
}