.header {
    height: 12vh;
    width: 100vw;

    background-color:black;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerSpace {
    height: 12vh;
    width: 35vw;
}

.buttonClicker {

    margin: 1em;

    color: white;
    font-weight: bold;

    font-size: large;
    font-family: Cambria ;

    transition: 0.2s;
    cursor: pointer;

    display:flex;
    justify-content: center;
}

.buttonClicker:hover {

    transition: 0.2s;
    color: rgb(198, 124, 71);
}

.homeButton {
    height: 12vh;
    width: 18vw;

    transition: 0.2s;
    cursor: pointer;
}

.buttonsDiv {
    display: flex;
    flex-direction: row;
}