.subHeader {
    height: 6vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: black;
    color: white;
}

.subheaderSpace {
    height: 1vh;
    width: 10vw;
}